<a href="https://colab.research.google.com/github/Magnus-Wangari/Machine-learning-algorithms/blob/master/SVD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
from sklearn.decomposition import TruncatedSVD
import pandas as pd

In [0]:
from google.colab import files
uploads=files.upload()

Saving Nairobi Office Price Ex.csv to Nairobi Office Price Ex.csv

In [0]:
data=pd.read_csv('Nairobi Office Price Ex.csv')
#data.info

In [0]:

nominal =['LOC','FUR','WATER','HK_SER']
ordinal = ['AMB','PROX_SCH','PROX_MALL','PROX_ROAD']
numerical=['SIZE']
target=['PRICE']
categorical_data = data.select_dtypes(include=['object']).copy()
column_names=(categorical_data.columns)

for feature in column_names:
  categorical_data[feature]=categorical_data[feature].astype('category')
for feature in ordinal:
  categorical_data[feature]=categorical_data[feature].cat.codes

categorical_data.head()

        LOC  FUR  AMB  PROX_SCH  PROX_ROAD  PROX_MALL WATER HK_SER
0     karen  yes    2         0          1          1   yes    yes
1  madaraka  yes    1         1          1          1    no     no
2     karen   no    0         0          1          1   yes    yes
3     karen  yes    1         0          0          0   yes    yes
4  buruburu   no    1         0          1          1   yes    yes

In [0]:
data_copy=categorical_data.copy()

data_copy = pd.concat([pd.get_dummies(data_copy[nominal]),data_copy],axis=1) 
data_copy.drop(nominal,axis=1,inplace=True)
#data_copy
new_data = pd.concat([data_copy,data[numerical],data[target]],axis=1)
new_data

In [0]:
X = new_data.drop('PRICE',1)

In [0]:
data_array =X.to_numpy()
data_array
svd = TruncatedSVD(n_components = 2)
data_approx = svd.fit_transform(data_array)
data_approx

In [0]:
svd.singular_values_

array([190.59287448,   3.75044979])

In [0]:
new_DataFrame = pd.DataFrame(data_approx,columns=['latent_1','latent_2'])
new_DataFrame
final_data = pd.concat([new_DataFrame,data[target]],axis=1)
final_data

     latent_1  latent_2      PRICE
0   32.590672 -0.312965  31.707006
1   53.467785 -0.512840  68.777596
2   61.542565  1.843992  62.562382
3   47.504799  0.433254  71.546632
4   59.847018  0.989230  87.230925
5   55.187651 -0.665803  78.211518
6   52.294728 -1.589587  79.641973
7   39.361872 -1.084714  59.171489
8   48.133074 -0.286598  75.331242
9   52.587784 -1.404004  71.300880
10  45.443087  1.165665  55.165677
11  54.389653  0.588005  82.478847
12  44.201336 -0.799108  62.008923
13  58.221322  0.771481  75.392870